.app{
    background-color: #000;
}

.logo{
  width: 160px;
  margin-left: 80px;
}

  .iniciar-sesion{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #E80000;
    padding: 15px 30px;
    border-radius: 10px;
    margin-left: 80px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .iniciar-sesion:hover{
    background-color: #1a1a1a;
    border: 2px solid #e80000;
  }

.mes-gratis{
  /*-------------------------------*/
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #E80000;
  padding: 15px 30px;
  border-radius: 10px;
  /*margin-left: 870px*/
  float: right;
  right: 0;
  position: absolute;
  /*margin: 4%;*/
  
  margin-right: 70px;
  top: 80%;

  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (min-width: 768px){/*
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}*/
}


.mes-gratis:hover{
  background-color: #1a1a1a;
  border: 2px solid #e80000;
}

/* FONDO DE PANTALLA*/
  .riverdale{
   background-image: url(http://cdn.warnerestrenos.com/res/series/riverdale2017/header/header_minisite_mid.jpg);/*image fondo*/
   background-size: cover;/*para que se ajuste al tamaño de la imagen*/
   background-repeat: no-repeat;/*para que no se repita la imagen*/
   background-position: center;/*para que se ajuste al centro*/
   height: 100vh;/*para que se ajuste al tamaño de la imagen*/
   background-attachment: fixed;/*para que se ajuste al tamaño de la imagen*/
  }

  .contenido{
   margin-top: 330px;
  }

  .intro-contenido{
    color: #fff;
    font-family: Arvo;
    margin-left: 80px;
  }
  
  .intro-content{
    color: #fff;
    font-family: Arvo-bold;
    margin-left: 80px;
   /* margin-top: 390px;*/
  }

  
  /*---*/

  .intro-ahora{
    color: #fff;
    font-family: Arvo-bold;
    /*margin-left: 80px;*/
  }
  
  .container-menu{
    background-color: #000;
    /*width: 1600px;*/
  }
  
  /*.col-md4-pay{
    width: 1600px;
    height: 800px;
    background-color: #000;
  }*/
  
  .fa-calendar-minus{
    color: #fff;
    margin-left: 80px;
  }

  
  .fa-tv{
    color: #fff;
    margin-left: 80px;
  }
  

  .imagen-tv{
    margin-left: 80px;
    
  }
  
  .ver-netflix{
    color: rgb(255, 255, 255);
    font-family: arvo-bold;
    margin-left: 700px;
    margin-top: -300px;
  }

  .smart-tv{
    color: #fff;
    font-family: arvo;
    margin-left: 700px;
  }
  
  .imagen-devices{
    margin-left: 80px;
    margin-top: 270px;
  }
  
  .disfruta-netflix{
    color: #fff;
    font-family: arvo-bold;
    margin-left: 700px;
    margin-top: -275px;
  }
  
  .netflix-disponible{
    color: #fff;
    font-family: arvo;
    margin-left: 700px;
  }
  
  .imagen-laptop{
    margin-left: 80px;
    margin-top: 270px;
  }
  
  .computadora-texto{
    color: #fff;
    font-family: arvo-bold;
    margin-left: 700px;
    margin-top: -275px;
  }
  
  .texto-directo{
    color: #fff;
    font-family: arvo;
    margin-left: 700px;
  }
  
  .first-line{
    color: #fff;
    display: block;
    border-style: inset;
    border-width: 1px;
    margin-left: -7px;
  }
  
  .second-line{
    color: #fff;
    display: block;
    border-style: inset;
    border-width: 1px;
    margin-left: -90px;
  }
  
  .tv-line{
    color: #fff;
    display: block;
    border-style: inset;
    border-width: 1px;
    margin-left: 80px;
  }
  
  .smart-line{
    color: #fff;
    display: block;
    border-style: inset;
    border-width: 1px;
  }
  
  .disponible-line{
    color: #fff;
    display: block;
    border-style: inset;
    border-width: 1px;
    margin-left: 0px;
  }
  
  .section-line{
    color: #fff;
    display: block;
    border-style: inset;
    border-width: 1px;
    margin-left: 80px;
  }
  
  /* PHONE */

  @media only screen and (max-width: 950px) and (max-width: 1449px){
  .contenido {
    font-size: 14px;
    margin-top: 15%;
    text-align: center;
  }
  .imagen-tv img{
    float: left;
    margin-left: -50px;
    width: 50%;
    height: 50%;
  }
  .ver-netflix{
    color: rgb(255, 255, 255);
    font-family: arvo-bold;
    margin-left: 200px;
    margin-top: 20px;

  }

  .imagen-devices img{
    float: left;
    margin-left: -50px;
    width: 50%;
    height: 50%;
  }
  


}

/*@media only screen and (min-width: 1450px), only screen and (min-width: 950px) and (max-width: 1449px){
.our-story-card-background {
    top: -100px;
}}

.our-story-card-background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -90px;
    z-index: 0;
}
* {
    letter-spacing: 0!important;
}
.user agent stylesheet div {
    display: block;
}

.our-story-card {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}*/